<%= simple_form_for @rippple do |r| %>
  <% if @rippple.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@rippple.errors.count, "error")} prohibited this rippple from being saved:" %>
      </h2>
      <ul>
        <% @rippple.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= r.input :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= r.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= r.button :submit %>
  </div>
<% end %>
